.messages {
    width: 100%
}

#submit-button{
    float: right;
    width: 6em;
    margin-bottom: 1em;
    background-color: #1D9Bf0;
}

#chirpBox {
    width: 100%;
    height: 6em;
}

.pageTitle {
    color: #1D9Bf0;
}

#blueBird {
    height: 75px;
}

#titleBox {
    justify-content: center;
}
